<% if flash.any? %>
  <div>
    <% flash.each do |key, value| %>
      <% case value %>
      <% when Hash %>
        <%=
          alert_kwargs = {
            scheme: key,
            subject: value[:subject],
            dismissible: value[:dismissible],
            **(value[:options] || {})
          }.compact
          alert_content = value[:content]

          button_link = value[:button_link] || {}

          alert_button_link_kwargs = {
            href: button_link[:href],
            **(button_link[:options] || {})
          }.compact
          alert_button_link_content = button_link[:content]

          render(AlertComponent.new(**alert_kwargs)) do |c|
            c.button_link(**alert_button_link_kwargs) do
              alert_button_link_content
            end

            alert_content
          end
        %>
      <% else %>
        <%= render(AlertComponent.new(scheme: key)) { value } %>
      <% end %>
    <% end %>
  </div>
<% end %>
